{% extends 'base.html' %} {% block head %}
<title>Index</title>
{% endblock %} {% block body %}
<div
    class="container d-flex justify-content-center align-items-center"
    style="min-height: 100vh"
>
    <div class="mb-3">
        <form enctype="multipart/form-data" action="/upload" method="POST">
            <label for="formFile" class="form-label">Upload an image!</label>
            <input class="form-control" name="file" type="file" id="formFile" />
            <button
                type="submit"
                class="btn btn-primary"
                style="margin-top: 20px"
            >
                Upload file
            </button>
        </form>
    </div>
    {% if columns|length > 1 %}
  <h3>Select a column to analyze:</h3>

  <form action="{{ url_for('analyze') }}" method="post">
    <select name="selected_column" class="form-select" required>
      <option value="" disabled selected>Select a column</option>
      {% for column in columns %}
        <option value="{{ column }}">{{ column }}</option>
      {% endfor %}
    </select>

    <input type="hidden" name="filename" value="{{ filename }}">
    <br>
    <button type="submit" class="btn btn-primary">Analyze</button>
  </form>
{% endif %}

</div>
{% endblock %}
